.settings_container {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  border-radius: 10px;
  padding: 10px;
}

.settings_element {
  color: var(--fontDark);
  font-size: 17px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.settings_element > * {
  display: block;
  margin: 10px 8px 10px 0;
}

.settings_element_option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  margin: 5px 0;
  border-radius: 10px;
  background-color: var(--blueGrey30);
  padding: 0 10px;
  color: var(--fontDark);
}

.settings_element_option:hover {
  cursor: pointer;
}

.logout {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  color: var(--fontDark);
  background-color: var(--blueGrey30);
  border-radius: 10px;
  margin: 40px;
}

.logout > * {
  margin: 0 10px 0 0;
}

.logout:hover {
  cursor: pointer;
}
