.students_course_table_container {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 200px;
  max-height: 200px;
  margin: 0 10px 10px 10px;
  background-color: var(--blueGrey);
  border-radius: 10px;
  flex-wrap: wrap;
  padding: 0 10px 10px 10px;
}

.students_course_table_header {
  color: var(--fontLight);
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  padding: 0px 0px 10px 0px;
  font-size: 20px;
}

.students_course_table {
  display: flex;
  flex: 1;
  background-color: var(--elementBody);
  height: calc(100% - 40px);
  border-radius: 10px;
  flex-direction: column;
  box-sizing: border-box;
}

.students_course_table_header_row {
  display: flex;
  border-radius: 0 0px 10px 10px;
  font-size: 15px;
  background-color: var(--elementBody50);
  border-radius: 10px;
  padding: 2px 0 2px 10px;
}

.students_course_table_header_column {
  flex: 1;
}

.students_course_table_body {
  display: flex;
  flex-wrap: wrap;
  overflow: overlay;
  flex: 1;
  padding-left: 10px;
  scrollbar-gutter: stable;
}

.students_course_table_row {
  display: flex;
  border-radius: 0 0px 10px 10px;
  font-size: 15px;
  background-color: var(--elementBody);
  border-radius: 10px;
  flex-basis: 100%;
  padding: 2px 0 2px 0;
}

.students_course_table_no_courses {
  display: flex;
  flex: 1;
  flex-basis: 100%;
  align-items: center;
  justify-content: center;
}
