.user_profile_container {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  border-radius: 10px;
  justify-content: space-between;
  overflow: hidden;
  background-color: var(--elementBody);
  margin: 10px;
}

.user_profile_picture_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.user_profile_picture {
  height: 120px;
  border-radius: 100%;
  overflow: hidden;
}

.user_profile_property_container {
  display: flex;
  padding-top: 5px;
  color: var(--fontDark);
}

.user_profile_property_key {
  flex-basis: 35%;
  flex-shrink: 0;
}

.user_profile_property_value {
  flex-basis: 65%;
  flex-grow: 0;
  overflow: hidden;
  background-color: var(--blueGrey);
  color: var(--fontLight);
  padding-left: 5px;
  border-radius: 10px;
}

.notifications {
  display: flex;
  flex-direction: column;
  height: 340px;
  margin: 10px 0 0 0;
  background-color: var(--blueGrey);
  border-radius: 10px;
}

.notifications_header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 30px;
  font-size: 20px;
  color: var(--fontLight);
}

.notifications_body {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 10px;
  border-radius: 10px;
  background-color: var(--elementBody);
  padding: 5px;
  overflow: overlay;
}

.notifications_element {
  display: flex;
  height: 60px;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 5px;
}

.notifications_element_date {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 20%;
  height: 100%;
  background-color: var(--blueGrey90);
  border-radius: 10px 0 0 10px;
  color: var(--fontLight);
}

.notifications_element_date_day {
  font-size: 20px;
  font-weight: bold;
}

.notifications_element_content {
  font-display: flex;
  flex-basis: 80%;
  background-color: var(--blueGrey30);
  border-radius: 0 10px 10px 0;
  padding: 3px;
  color: var(--fontDark);
  overflow: overlay;
}

.notifications_element_content::-webkit-scrollbar-track {
  background: var(--blueGrey50);
  border-radius: 10px;
}
