.grade_overview_student_container {
  display: flex;
  margin: 0px 10px 10px 10px;
  border-radius: 10px;
  background-color: var(--blueGrey);
  min-height: 160px;
  max-height: 160px;
  flex-wrap: wrap;
  padding-bottom: 10px;
}

.grade_overview_student_header {
  color: var(--fontLight);
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  align-items: center;
  height: fit-content;
  padding: 0px 0px 10px 0px;
  font-size: 20px;
}

.grade_overview_student_body {
  display: flex;
  flex-basis: 100%;
  height: calc(100% - 40px);
}

.grade_overview_student_chart_container {
  display: flex;
  flex-basis: 60%;
  position: relative;
}

.grade_overview_student_chart_y_axis {
  position: absolute;
  left: 10px;
  bottom: 13px;
  border-radius: 10px 10px 0 10px;
  height: 110px;
  width: 7px;
  background-color: var(--fontDark);
  z-index: 1;
}

.grade_overview_student_chart_x_axis {
  position: absolute;
  left: 10px;
  bottom: 13px;
  border-radius: 0 10px 10px 10px;
  height: 7px;
  width: 170px;
  background-color: var(--fontDark);
  z-index: 1;
}

.grade_overview_student_chart_labels {
  color: var(--fontLight);
  position: absolute;
  bottom: -3px;
  font-size: 13px;
}

.grade_overview_student_chart_labels_vg {
  left: 30px;
}

.grade_overview_student_chart_labels_g {
  left: 63px;
}

.grade_overview_student_chart_labels_av {
  left: 90px;
}

.grade_overview_student_chart_labels_ba {
  left: 120px;
}

.grade_overview_student_chart_labels_f {
  left: 155px;
}

.bar {
  position: absolute;
  bottom: 13px;
  border-radius: 5px 5px 0 0;
  width: 20px;
  z-index: 0;
  box-shadow: -5px -2px 10px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--fontDark);
}

.grade_overview_student_legend {
  display: flex;
  flex-basis: 40%;
  color: var(--fontLight);
  font-size: 13px;
}

.grade_overview_student_placeholder {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  align-items: center;
  color: var(--fontLight);
}
